<header class="header">
    <div class="header-logo">
        <img src="assets/jatanegara.png" alt="JPJ Logo" class="jpj-logo">
      <img src="assets/jpjlogo.png" alt="JPJ Logo" class="jpj-logo">
      <div class="header-title">
        <h2>Portal Rasmi<br>Jabatan Pengangkutan Jalan Malaysia</h2>
        <p><i class="fas fa-globe"></i> Official Portal of Road Transport Department Malaysia</p>
      </div>
    </div>
    
    <nav class="main-nav">
      <a href="#" class="active"><i class="fas fa-home"></i> Laman Utama</a>
      <a href="#"><i class="fas fa-building"></i> Maklumat Korporat</a>
      <a href="#"><i class="fas fa-photo-video"></i> Pusat Media</a>
      <a href="#"><i class="fas fa-th-large"></i> Kategori</a>
    </nav>
  </header>